// Calender.scss

.custom-calendar-container {
  width: 75%;
  margin: auto;
}

.fc-dayGridMonth-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fc-dayGridMonth-button:hover {
  background-color: #0056b3;
}

.fc-dayGridMonth-view {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fc-dayGridMonth-view .fc-day-number {
  font-size: 14px;
}

.fc-event {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 4px;
}

.fc-event:hover {
  background-color: #218838;
}
