.Username {
	top: 99px;
	left: 139px;
	width: 369.42px;
	height: 42px;
	background: rgba(255,255,255,0);
    color: #ef0b0b;
}

.greeting {
	margin-top: 40px;
	margin-left: 65px;
	width: 369.42px;
	height: 42px;
    font-size: 30px;
	background: rgba(255,255,255,0);
    color: #141414;
}

.Cdate {
	margin-left: 65px;
	overflow: hidden;
	font-size: 18px;
	text-align: left;
	color: #000000;
}
