.container {


    border-radius: 10px; /* Add border radius */
   /* Set text color to white */
  }
  

  
  label {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%; /* Make text inputs and textareas fill their container */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
  }
  
  button[type="submit"] {
    width: 100%; /* Make button fill its container */
    padding: 10px; /* Adjust padding as needed */
    margin-top: 20px; /* Add margin to the top */
    margin-bottom: 20px; /* Add margin to the bottom */
    border: none; /* Remove border */
    background-color: #000; /* Set background color to black */
    color: #fff; /* Set text color to white */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
  button[type="submit"]:hover {
    background-color: #333; /* Change background color on hover */
  }