#appointment-table {
    /* Adjust the padding to reduce space between table cells */
    padding: 0;
    /* Add margin-top to create space between the navigation bar and the table */
     /* Adjust the value as needed */
    margin-left: 1px;
}

#appointment-table th,
#appointment-table td {
    /* Reduce padding to make table cells closer */
    padding: 2px 2px; /* Adjust values as needed */
}
