
.Container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}


.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.product {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.product a {
  text-decoration: none;
  color: inherit;
}

.product img {
  width: 250px;
  width: 250px;
  height: auto;
}

.product strong {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.product p {
  margin: 10px 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  justify-content: center;
  margin-right: 10px;
  border: none;
}

ul li button {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #3498db; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li button:hover {
  background-color: #eae8e8; 
  color: #3498db;
}