
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 25px;
}


/*catogery */
.ListCategory {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 100px;
  background-color: #f9f9f9;
  margin: 10px;
}



div a{
  text-decoration: none;
}

/* .catog{
  z-index: 50;
  top: 20px;
  margin: 5px;
  width: 30%;
  background-color: #fefdfd;
}

.pro{
  width: 70%;
  margin-left: 20px;
  max-height: 800px; 
  overflow-y: auto;
  overflow-x: hidden; 
}

.catog::-webkit-scrollbar {
  width: 0; 
} */