main{
  margin-top: 60px;
  margin-left: 250px;
}



/*add product*/

.containerAddProduct {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 5px 40px rgba(137, 130, 130, 0.233);
}


.containerAddProduct h2 {
  text-align: center;
  font-size:30px;
}

.formContainer {
  display: flex;
}

.formLeft {
  width: 60%; 
  padding-right: 50px;
}

.formRight {
  width: 40%; 
  padding: 50px;
}

.form-group {
  margin-bottom: 15px;
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


textarea {
  resize: vertical;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

form button:focus {
  outline: none;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select:focus {
  outline: none;
  border-color: #007bff;
}

.outStock{
  color: red;
}


.stockView{
  width: 150vh;
  height: 150vh;
}

